##############################
# Python
##############################
venv/

##############################
# TensorFlow tmp dirs
##############################
data/
logs/

##############################
# IDE
##############################
.idea/
