##############################
# Python
##############################
venv/
*.pyc

##############################
# TensorFlow tmp dirs
##############################
data/
logs/
csv/
graphs/
archive/

